.bg-theme{
  background-color: #DE354C;
}
.cart-icon{
  font-size: 1.5rem;
}

.hero-background{
  min-height: 100vh; /* vh: viewport height*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-background{
  min-height: 70vh; /* vh: viewport height*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-size{
  height:fit-content;
  width:fit-content;

}